@font-face {
    font-family: Poppins;
    src: url('../font/Poppins-Regular.ttf');
}

@font-face {
    font-family: Manrope;
    src: url('../font/Manrope-Regular.ttf');
}

:root {
    --purple--color: rgba(97, 106, 232, 1);
    --green--color: rgba(34, 228, 167, 1);
    --meta--content--color: rgba(126, 127, 160, 1);
    --pink--color: rgba(253, 240, 231, 1);
    --green--smolke--color: rgba(231, 250, 249, 1);
    --purple--smolke--color: rgba(245, 236, 253, 1);
    --blue--smolke--color: rgba(231, 239, 251, 1);
    --skin--smolke--color: #FBE9E9;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-family: Poppins;
}

/* col-grid */
.col-lg-5 {
    display: grid;
    grid-template-columns: 18% 18% 18% 18% 18%;
    justify-content: space-between;
}


.col-md-4 {
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    justify-content: space-between;
}



/* end */
.page-section {
    position: relative;
    z-index: 9;
    padding: 50px 0;
}

.page-section--bg-cl-skin {
    background-color: var(--skin--smolke--color);
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

.container-full {
    max-width: 100%;
}

.row {
    display: grid;
    flex-wrap: wrap;
}

.navbar {
    display: grid;
    grid-template-columns: 15% 50% 35%;
}

.col-fz-1-1 {
    grid-template-columns: 50% 50%;
}



.navbar__logo {
    width: 164px;
    height: 59px;
}

.navbar__menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.list-btn {
    display: flex;
    justify-content: end;
    margin: 17px;

}

.btn__link {
    text-decoration: none;
}

.menu__btn {
    display: block;
    border-radius: 10px;
    line-height: 59px;
    padding: 0 20px;
    margin: 10px;

}

.button {
    display: inline-block;
    text-align: center;
    padding: 10px 30px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.btn--pubple {
    background-color: var(--purple--color);
}

.btn--green {
    background-color: var(--green--color);
}

.btn__link--getStart {
    color: white;
}

.btn__link--buyNow {
    color: white;
}

.icon--close {
    display: none;
}

.icon--open {
    display: none;
}

.navbar__icon-btnMenu {
    width: 100%;
    display: flex;
    justify-content: end;
}

.icon--open {
    color: rgba(97, 106, 232, 1);
    font-size: 50px;
}



.meta-content {
    position: relative;
    padding: 10px 0 10px 0;
}

.meta-content__bg {
    width: 105px;
    height: 105px;
    border-radius: 50%;
}

.meta-content__bg--skin {
    background-color: var(--skin--smolke--color);
}

.meta-content__bg--pink {
    background-color: var(--pink--color);
}

.meta-content__bg--green {
    background-color: var(--green--smolke--color);
}

.meta-content__bg--purple {
    background-color: var(--purple--smolke--color);
}

.meta-content__bg--blue {
    background-color: var(--blue--smolke--color);
}

.ellipe__img {
    width: 100%;
    height: 100%;
}

.meta-content__title {
    /* position: relative;
    top: -45px;
    left: 60px;
    width: calc(100% - 60px); */
    margin: -50px 0 0 50px;
}

.meta-content__header {
    font-family: Manrope;
    font-weight: 700;
    size: 26px;
    line-height: 24px;
    letter-spacing: 0.05em;
}

.meta-content__main {
    font-family: Manrope;
    font-weight: 500;
    color: var(--meta--content--color);
    letter-spacing: 0.037em;
    margin-top: 30px;
}

.concept {
    text-align: center;
    margin: 60px auto;
    width: 100%;
}

.concept__title {
    font-family: 'Manrope';
    font-weight: 800;
    font-size: 38px;
    line-height: 55px;
    letter-spacing: 0.04em;
    color: #2D2A3E;
    /* left: calc(50% - 538px/2 ); */
    max-width: 538px;
    margin: 0 auto;

}

.concept__metaContent {
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.075em;
    color: #7E7FA0;
    text-shadow: 0px 4px 4px;
    max-width: 685px;
    margin: 0 auto;
    margin-top: 30px;

}

.title_highlight {
    color: rgb(97, 106, 232, 1);
}

/* .row{
    position: relative;
} */
.page-section--bg {
    position: absolute;
    height: 100%;
    width: 40%;
    top: 0px;
    z-index: -1;
    border-radius: 0 30px 30px 0;
}

.page-section--bg-blue {
    background-color: rgba(240, 249, 254, 1);
}

/* background-color: rgba(240, 249, 254, 1); */
.section-main__imageHighlight {
    height: 100%;
    width: auto;
}

.imageHighlight--main {
    background-size: cover;
    width: 90%;
}

.highlight-icon {
    position: relative;
    max-width: 105px;
    max-height: 10meta-main__author5px;

}

.img-icon--carbon {
    position: absolute;
    top: 10px;
    right: -30px;
}

.btn-dot {
    margin-top: 30px;
    width: 70px;
    display: flex;
    justify-content: space-around;
}

.btn-dot__around {
    border-radius: 50%;
    background-color: #E8E8EB;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.btn-dot__around--choosen {
    background-color: #5E68F9;
}

.content__meta-main {
    padding: 30px 0;
}

.meta-main__author {
    margin-top: 30px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.04em;
    width: calc(100% - 20px);
}

.meta-main__author::before {
    content: "";
    width: 20px;
    border-top: 1px solid #777683;
    display: inline-block;
    margin-bottom: 5px;
}

.wrap-selection {

    border-radius: 5%;
    margin-top: 30px;
    padding-bottom: 10%;
    clear: both;
    padding: 50px;
}

.wrap4__listCard {
    display: grid;
    grid-template-columns: 31% 31% 31%;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
}

.post--essential {
    background-color: white;
    display: block;
    margin-top: 30px;
    padding: 20px;
}

.icon-essential {
    width: 93px;
    height: 93px;
    text-align: center;
    border-radius: 50%;
    padding-top: 30px;
}

.icon-essential--hear {
    background-color: rgba(255, 241, 240, 1);
}

.icon-essential--vector {
    background-color: rgba(242, 233, 250, 1);
}

.icon-essential--food {
    background-color: rgba(228, 247, 250, 1);
}

.icon-essential--antSetting {
    background-color: rgba(228, 230, 251, 1);
}

.icon-essential--antLike {
    background-color: rgba(253, 233, 244, 1);
}

.icon-essential--circle {
    background-color: rgba(228, 249, 230, 1);
}

.concept__metaContent--no-shadow {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.075em;
    color: #7E7FA0;
    max-width: 685px;
    margin: 0 auto;
    margin-top: 30px;
}

.post--essential--card {
    margin-top: 30px;
}

.post--essential__title--card {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 23px;
    line-height: 24px;
    /* identical to box height, or 104% */

    letter-spacing: 0.04em;

    color: #2D2A3E;

}

.post--essential__metaContent--card {
    margin-top: 30px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 33px;
    /* or 165% */

    letter-spacing: 0.025em;

    color: #7E7FA0;
}

.post-popular {
    width: 100%;
    display: block;
}

.post-popular__listCard {
    display: grid;
    grid-template-columns: 31% 31% 31%;
    justify-content: space-between;
    width: 95%;
    margin: 4% auto 0 auto;
}

.post-popular__img--detail {
    width: 100%;
}

.post-popular__content--card {
    padding-left: 20px;
    margin-top: -10px;
    margin-bottom: 10%;
}

.post-popular__card {}

.note-high-light {
    text-align: center;
    width: 100px;
    height: 36px;
    background: #5D69FB;
    border-radius: 0px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: -0.03em;
    color: white;
    padding-top: 5px;
    position: relative;
    bottom: 30px;
}

.post-popular__title--card {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 24px;
    letter-spacing: 0.01em;
}

.post-popular__metaContent--card {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #817F8A;
}

.wrap-selection__listcard {
    width: 95%;
    margin: 50px auto;
}

.wrap-selection--color-pink {
    background-color: var(--pink--color);
}

.icon--close {
    color: rgba(97, 106, 232, 1);
    font-size: 50px;
    font-weight: 500;
    float: right;
}

.col-sm-3 {
    display: grid;
    grid-template-columns: 31% 31% 31%;
    justify-content: space-between;
}

@media only screen and (max-width: 1140px) {
    .navbar__menu {
        display: grid;
        grid-template-columns: 1;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }

    .post-popular__listCard {
        grid-template-columns: 48% 48%;
    }

    .navbar {
        grid-template-columns: 15% 50% 35%;
        height: 79px;
        overflow: hidden;
    }

    .icon--open {
        display: block;
    }

    .icon--close {
        display: none;
    }

    .col-xs-2 {
        display: grid;
        grid-template-columns: 48% 48%;
        justify-content: space-between;
    }

}

@media only screen and (max-width: 535px) {

    .post-popular__listCard {
        grid-template-columns: 100%;
    }

    .navbar__menu {
        margin-top: 50px;
    }

    .col-xs-1 {
        display: grid;
        grid-template-columns: 100%;
        justify-content: space-between;
        grid-template-rows: minmax(300px, auto);
    }

}

@media only screen and (min-width: 1141px) {
    .icon--close {
        display: none !important;
    }

    .icon--open {
        display: none !important;
    }


}

@media only screen and (min-width: 1170px) {
    .icon--close {
        display: none !important;
    }

    .icon--open {
        display: none !important;
    }

}


@media only screen and (min-width: 1200px) {}

@media only screen and (min-width: 992px) and (max-width:1199px) {}

@media only screen and (min-width: 768px) and (max-width:991px) {}

@media only screen and (max-width: 768px) {}